# Python / Jupyter
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# Данные большого объёма в репозиторий не коммитим
data/raw/
*.tif
*.tiff
*.zip
*.pbf

# Системные файлы
.DS_Store
.idea/
.vscode/
